body {
  font-family: sans-serif;
  background-color: #ccc9;
}

.grid {
  display: grid;
  border: 3px solid red;
  grid-template-columns: repeat(3, minmax(50px, 250px));
  grid-template-rows: repeat(3, 60px);
  justify-content: space-evenly;
  margin: 10px;

  /* Rows ---> Height
     Columns ---> Width
  */;
  
  /* here we change the implicit rows and it's be define in rows*/
  grid-auto-rows: 90px;

  /* We can change where the extra rows are added as columns */
  grid-auto-flow: column;
  grid-auto-columns: 80px;

}

.grid--item {
  border-left: 10px solid #ccc;
  background-color: antiquewhite;
  margin: 10px;
  padding: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.explanation {
  padding: 10px;
  font-size: 14px;
  margin: 10px;
  border: 3px solid black;
}

h3 {
  font-size: 18px;
  text-align: center;
}

p {
  letter-spacing: 0.5px;
  text-align: justify;
  padding: 10px;
}

.extra {
  border: 1px solid #ccc;
}
