body{
    font-family: sans-serif;
    line-height: 1.5;
}

.container{
    padding: 20px;
    margin: 10px;
    border: .5px solid transparent;
    border-radius: 3px;
    box-shadow: 0 2px 15px #666f;
    box-sizing: border-box;
    
    

}

h1{
    text-align: center;
    
}

a{
    text-decoration: none;
    color: #2d66af;
}

.list{
    padding: 10px 30px ;
    border: 3px solid black;
    margin: 20px;
    list-style: square ;
    border-radius: 5px;
}

.list--shoes{
    background-color: antiquewhite;
    
}

.list__item{
    color: green;
}

.item--unavailable{
    color: red;
}







