body{
    font-family: "Montserrat";
}

.welcome{
    background-color: aliceblue;
    padding: 10px;
}

table{
    width: 60%;
    margin: auto;
    border-collapse: seprate;
    margin: 20px auto;
}

caption{
    padding: 10px;
    font-weight: 700;
    font-size: 1.2rem;
}

th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th{
    text-align: center;
    background-color: aliceblue;
    font-weight: 700;
}
tr:nth-child(odd) { /* 1,3,5 colors in each row */
    background-color: white;  
}

tr:nth-child(even) {
    /* selects rows 2, 4, 6, 8, etc. */
    background-color: #eee;
}




tr:hover {
    background-color: #ddd;
}
