body {
  font-family: sans-serif;
  background-color: #ccc;
}

.container--one {
  width: 500px;
  height: 390px;
  background-color: aliceblue;
  margin: 30px;
}

.container--two {
  min-width: 80%;
  min-height: 390px;
  background-color: aliceblue;
  margin: 30px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #000;
  color: #fff;
  position: absolute;
  margin: 40px 150px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;

  transition-property: background-color, color;
  transition-duration: 1s;
}

.box:hover {
  background-color: #fff;
  color: #000;
}

.transition {
  width: 200px;
  height: 200px;
  background-color: #000;
  color: #fff;
  transition: left 1s;
  position: relative;
  left: 50px;
}

.container--two:hover .transition{
    left:650px;
}
