body {
  font-family: "Montserrat";
  background-color: black;
  margin-top: 30px;
}

.container {
  background-color: antiquewhite;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 1.2px;
  width: 450px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 10px;
}

h2 {
  font-size: 20px;
  letter-spacing: 1.5px;
  margin: 0 13px;
}

p {
  text-align: center;
  font-size: 11px;
  padding: 20px;
  text-align: justify;
  margin: 0;
  background-color: aliceblue;
}
