body {
  margin: 0;
  font-family: sans-serif;
}

.nav {
  background-color: #48e;
  text-align: center;
}

.nav__list {
  margin: 0;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  text-decoration: none;
  color: white;
  display: inline-block;
  background-color: #48e;
  padding: 10px;
  margin: 0 15px;
}

.nav__link:hover {
  background-color: #59e;

}

.link--button{
  border: 1 solid #fff;
  background-color: #fff;
  padding: 4px 18px;
  color: #48e;
  border-radius: 3px;
  margin-left: 15px;
  
}


.link--button:hover {
  background: transparent;
  color: #fff;

}