body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

div,
body,
nav,
ul,
footer {
  box-sizing: border-box;
}

h1,h2,h3{
    text-wrap: balance;
}

p{
    text-wrap: pretty;
}

main{
    min-width: 300px;
}

.main-wrapper,
header,
footer {
  width: 100%;
}

/* Header */

.main-wrapper{
    max-width: 1024px;
}

.header {
  background-color: #48e;
}

.main-navbar ul {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
}

.main-navbar a {
  color: #fff;
  display: inline-block;
  padding: 6px 9px;
}

.main-navbar li {
  list-style: none;
  margin: 4px;
}

nav a {
  text-decoration: none;
}

/* Main */

.main-wrapper {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

aside,
main {
  padding: 10px 20px;
  flex-basis: 0;
}



.main-wrapper aside {
  flex-grow: 1;
}

.secondary-navbar {
  min-width: 10rem;
  text-align: center;
}

.secondary-navbar ul {
  padding: 0;
}

.secondary-navbar li {
  list-style: none;
}

.secondary-navbar a {
  color: #48e;
  display: inline-block;
  padding: 6px 10px;
}

/* Footer */

footer {
  margin-top: auto;
  border: 1px solid red;
  background-color: #333;
  color: #fff;
  padding: 40px;
 font-weight: bold;
 text-align: center;
}

@media screen and (max-width: 600px) {
  aside:last-child {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .main-wrapper {
    flex-direction: column;
  }
  .main-wrapper aside {
    flex-grow: 0; /* stop the sidebar from stretching vertically */
  }
  .main-wrapper main {
    flex-grow: 1; /* let the content take the rest of the height */
  }
}
